@import "tailwindcss";

body {
  background-image: url("/public/wallpaperSkyWatch.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.glass-header {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.37);
}

.glass {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px);
border: 1px solid rgba(255, 255, 255, 0.36);
}

.glass-extreme-cold {
/* From https://css.glass */
background: rgba(26, 15, 222, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(11, 20, 192, 0.489);
backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px);
border: 1px solid rgba(32, 22, 219, 0.36);
}

.glass-cold {
/* From https://css.glass */
background: rgba(15, 188, 222, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(12, 197, 197, 0.399);
backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px);
border: 1px solid rgba(23, 198, 207, 0.36);
}

.glass-hot {
/* From https://css.glass */
background: rgba(222, 219, 15, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(212, 223, 8, 0.497);
backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px);
border: 1px solid rgba(214, 208, 25, 0.36);
}

.glass-extreme-hot {
/* From https://css.glass */
background: rgba(222, 15, 15, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(226, 8, 8, 0.458);
backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px);
border: 1px solid rgba(222, 20, 20, 0.36);
}
